//INVOICE CONTENT
.invoice {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  padding: 4rem 3rem;
  min-height: 780px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0,0,0, .05);

  &-data {
    width: 100%;
    align-self: center;
    padding: 0 0 10rem;
  }

  &-from {
    width: 100%;
    min-height: 5rem;
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5rem;
    font-size: 1rem;
  }

  &-to {
    font-family: Museo-500;
    margin-top: 2rem;
    width: 50%;
  }

  &-header {
    width: 100%;
    font-size: 2rem;
    font-family: Museo-500;
    text-align: center;
    margin-bottom: 1rem;
  }

  &-date {
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
    font-family: Museo-500;

    &-label {
      min-width: 15rem;
      font-weight: bold;
    }

    &-date {
      width: 100%;
    }

  }

  &-calc {
    position: relative;
    border-top: 1px solid $light-gray;

    &-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $light-gray;
      position: relative;

      &__header {
        display: none;

        .invoice-calc-input {
          font-family: Museo-500;
          background: $lightest-gray;
        }

      }

      &__summary {
        border-bottom: 0;
      }
    }

    &-add-row-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(140%);
      font-family: Museo-500;
      cursor: pointer;

      padding: 0 0.3rem;
      border-radius: 50%;
      transition: all 150ms ease-in;
      border: 1px solid $violet;
      background: $white;
      color: $violet;

      &:hover {
        transition: all 150ms ease-out;
        color: $white;
        background: $violet;
        border: 1px solid $violet;
      }

    }

    &-remove-row-btn {
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translate(0, -50%) scaleY(.8);
      cursor: pointer;
      font-size: 1.3rem;
      font-family: Museo-500;
      padding: 0 0.1rem;
      transition: all 150ms ease-in;
      background: $white;
      color: $violet;

      &:hover {
        transition: all 150ms ease-out;
        color: $white;
        background: $violet;
        border: 1px solid $violet;
      }

    }

    &-summary {
      margin-top: 2rem;

      &-output {
        background: $lightest-gray;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
        padding: .5rem 0;
        text-align: center;
        font-size: 1rem;
        cursor: default;
      }

    }

    &-input, &-output {
      padding: .5rem 0;
      text-align: center;
      font-size: 1rem;
    }

    &-input {
      &:focus {
        padding: .5rem 0;
        background: $light-gray;
      }
      &::placeholder {
        //color: red;
      }
    }

    &-output {
      font-size: .9rem;
      color: $medium-gray;
      cursor: default;
    }

    &-label {
      display: inline-block;
      margin-bottom: .5rem;
    }

    &-number {
      flex: 1;
    }

    &-name {
      flex: 8;
    }
    &-count {
      flex: 2;
    }

    &-price-netto {
      flex: 4;
    }

    &-value-netto {
      flex: 4;
    }

    &-vat {
      flex: 2;
    }

    &-vat-value {
      flex: 4;
    }

    &-full-value {
      flex: 4;
    }

  }

  &-summary {
    margin-top: 4rem;
    cursor: default;

    &-row {
      width: 100%;
    }

  }

  @include breakpoint($md) {
    @include column(3/4, $cycle: 2);

    &:after {
      display: none;
    }

    .invoice-from {
      min-height: initial;
    }

    .invoice-calc-row {
      flex-direction: row;

      &__header {
        display: flex;
      }
    }
  }

}
