.start-page {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  text-align: center;
  justify-content: center;

  &-form {
    display: block;

    &-fieldset {
      border: 1px solid $violet;
      position: relative;
    }

    &-input {
      border: 0;
      width: 100%;
      font-family: Museo-500;
      text-align: center;
      background: transparent;
      padding-bottom: .5rem;

      &:focus {
        outline: none;
      }
    }

    &-button {
      border: 0;
      background: transparent;
      color: $white;
      width: 0;
      height: 0;
      border-bottom: 14px solid $violet;
      border-left: 14px solid transparent;
      border-left: 14px solid transparent;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &-graphic {
        display: inline-block;
        transform: scaleX(.7);
      }

    }

    &-legend {
      padding: .4rem;
    }

  }

  &-firebase-logged {
    text-align: right;
    margin-top: 3px
  }

  @include breakpoint($md) {

    @include column(3/4, $cycle: 2);
    min-height: 780px;
    box-shadow: 5px 5px 5px rgba(0,0,0, .05);
    background: $white;

    &:after {
      display: none;
    }
  }
}

