@font-face {
  font-family: 'Museo-100';
  src: url('./assets/fonts/museosans-100.otf');
}

@font-face {
  font-family: 'Museo-300';
  src: url('./assets/fonts/museosans-300.otf');
}

@font-face {
  font-family: 'Museo-500';
  src: url('./assets/fonts/museosans-500.otf');
}
