.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-violet {
  color: $violet;
}

.v-cloak, [v-cloak] {
  display:none;
}

.u-hidden {
  visibility: hidden;
}

.u-bold {
  font-weight: bold;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-text-xs {
  font-size: 1rem;
}
