.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-violet {
  color: $violet;
}

.u-grey {
  color: $medium-gray;
}


.v-cloak, [v-cloak] {
  display:none;
}

.u-hidden {
  visibility: hidden;
}

.u-bold {
  font-weight: bold;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-text-xs {
  font-size: 1rem;
}

.u-bold {
  font-family: Museo-300;
}

.u-top {
  vertical-align: top;
}

.u-left-border-light-gray, .u-left-border-light-gray.invoice-thumb-calc-summary-output {
  border-left: 1px solid $light-gray;
}

.u-no-left-border-mobile {
  border-left: 0;
}

.u-error {
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid red !important;
  }
}

@include breakpoint($md) {

  .u-no-left-border-mobile {
    border-left: 1px solid $light-gray;
  }

}
