//BREAKPOINTS
$sm: 320px;
$md: 767px;
$lg: 1199px;

//COLORS
$white: #ffffff;
$lightest-gray: #fafafa;
$light-gray: #eeeeee;
$medium-gray-2: #666666;
$medium-gray: #999999;
$dark-gray: #111111;
$black: #000000;
$violet: mediumvioletred;
